<div class="button-container {{ cCls }}">
    <div class="button-container__inner {{ contCls }}">
        <button data-open="{{ dataOpen }}" data-modal="{{ dataM }}" class="button-item {{ addCls }}"> {{ name }} </button>
    </div>
</div>